

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    
    
}

#loading {
    background : url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNnd4NWt5ZTRkOWZ0OTQ5dmd6bG40bmhydHpuZnExdmRnZW9sZGxyMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MydKZ8HdiPWALc0Lqf/giphy.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 100%;
}