body,
html {
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
}

#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

#bgCanvas {
    filter: blur(5px);
}