body,
html {
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
}

#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

#bgCanvas {
    filter: blur(5px);
}

@media(max-width:426px) {
    .links table tbody tr td{
        padding: 8px 4px;
    }
}

@media(max-width:330px) {
    .links table tbody tr td{
        padding-left: 2px;
        padding-right: 2px;
      }

      .links table tbody tr .project-name{
        padding: 8px 7px;
      }

      .links table tbody tr td a{
        margin-left: 4px;
      }
    
}


/* Base styles */
body {
  font-family: sans-serif;
  background-color: #181818; /* Dark gray background */
  color: #ffffff; /* White text color */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: #2ecc71; /* Teal color */
  color: #ffffff; /* White text */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2rem; /* Adjust font size as needed */
}

header nav {
  display: flex;
  gap: 1rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

/* Main content styles */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffffff; /* White heading text */
}

/* Search bar styles */
#search-bar {
  display: flex;
  margin-bottom: 2rem;
}

#searchInput {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #f4e8e8; /* Dark gray input background */
  color: #0b0b0b; /* White input text */
  flex-grow: 1;
}

#searchButton {
  padding: 1rem 1.5rem;
  background-color: #2ecc71; /* Teal button color */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* No projects message */
#no-projects {
  text-align: center;
  margin-top: 2rem;
}

/* Footer styles */
footer {
  background-color: #222222;
  padding: 1rem;
  text-align: center;
  color: #f3eeee; /* Light gray footer text */
}