body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

.bar {
  margin-left: 10px;
  height: 700px;
  width: 10px;
  background: #222;
  border-left: 2px solid rgb(167, 167, 167);
  box-shadow: 10px 10px 20px #959595;
  border-radius: 10px 10px 0px 0px;
}

.flag {
  margin-top: -360px;
  height: 300px;
  width: 500px;
  box-shadow: 10px 10px 20px #959595;
  position: relative;
}

.top {
  height: 100px;
  width: 100%;
  background-color: #FF671F;
}

.middle {
  height: 100px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle img {
  width: 80px;
  animation: rotate 4s linear infinite;
}

.bottom {
  height: 100px;
  width: 100%;
  background-color: #046A38;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.quote-container {
  margin-left: 20px; /* Adjust margin for spacing */
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 450px; /* Adjust width as needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 190px; /* Adjust right position as needed */
}

.quote {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.author {
  font-size: 1.2em;
  color: #555;
  transition: color 0.3s ease;
}

.quote:hover {
  color: #FF671F;
}

.quote:hover .author {
  color: #046A38;
}

.quote-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.quote-nav button {
  background-color: #FF671F;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quote-nav button:hover {
  background-color: #046A38;
}