<style>
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}
    .block1{
        height: 80px;
        width: 500px;
        background-color:rgb(244, 196, 48);
        
    }
    .block2{
        height:80px;
        width: 500px;
        background-color:white;
        align-items: center;
        display: contents;
    }
    .block3{
        height:80px;
        width: 500px;
        background-color:green;
        
    }
    .wheel{
    border-radius: 100px;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    height: 75px;
    width: 75px;

    }

    .wheel .line {
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    left: 50%;
    background: darkblue;
}
.wheel{
    animation-name: rotate ;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
 
.line:nth-child(1) {
    transform: rotate(15deg)
}
 
.line:nth-child(2) {
    transform: rotate(30deg)
}
 
.line:nth-child(3) {
    transform: rotate(45deg)
}
 
.line:nth-child(4) {
    transform: rotate(60deg)
}
 
.line:nth-child(5) {
    transform: rotate(75deg)
}
 
.line:nth-child(6) {
    transform: rotate(90deg)
}
 
.line:nth-child(7) {
    transform: rotate(105deg)
}
 
.line:nth-child(8) {
    transform: rotate(120deg)
}
 
.line:nth-child(9) {
    transform: rotate(135deg)
}
 
.line:nth-child(10) {
    transform: rotate(150deg)
}
 
.line:nth-child(11) {
    transform: rotate(165deg)
}
 
.line:nth-child(12) {
    transform: rotate(180deg)
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
