:root{
    --hue-neutral:200;
    --hue-wrong:0;
    --hue-correct:145;
}

body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

body.correct{
    --hue: var(--hue-correct);
}

body.wrong{
    --hue: var(--hue-wrong);
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-bottom: 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: rgba(6, 109, 109, 0.571);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;
    cursor: pointer;
}

.btn.correct {
    background-color: hsl(var(--hue-correct), 100%, 30%);
}

.btn.wrong {
    background-color: hsl(var(--hue-wrong), 100%, 30%);
}

.btn:hover{
    border-color: black;
    opacity: 2;
}

.start-btn,
.next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
 .score-container {
   --hue :var(--hue-neutral);
} 

.score {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px 2px;
}

.score.correct {
    color: hsl(var(--hue-correct), 100%, 30%);
   
}

.score.wrong {
    color: hsl(var(--hue-wrong), 100%, 30%);
   
}
