*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    background-image:placebackground;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    animation: bg-change 40s infinite ;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px; 

}

.navbar{
      font-size: x-large;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    gap: 550px;
    
    
}
.navbar ul li {
  position: relative;
}

.navbar ul li a{
  text-decoration:none;
  color: white;
  
}


ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background-color: green;
  position: absolute;
 left: 0;
 bottom: -10px;
 transition: 0.5s;
  
}

ul li:hover::after{
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @keyframes bg-change {
  0%, 5%, 10% {
    background-image: url(images/iceland.jpg);
  }
  15%, 20%, 25% {
    background-image: url(images/Brooke-Holm.jpeg);
  }
  30%, 35%, 40% {
    background-image: url(images/Jennifer.avif);
  }
  45%, 50%, 55% {
    background-image: url(images/Daniel.jpeg);
  }
  60%, 65%, 70% {
    background-image: url(images/kai.jpg);
  }
  75%, 80%, 85% {
    background-image: url(images/Hannes-Becker4.jpg);
  }
  90%, 95%, 100% {
    background-image: url(images/Tobias-Hagg.jpg);
  }
}

@keyframes text-change {
  0%, 10% {
    content: "Iceland - Explore the beauty of glaciers";
  }
  15%, 25% {
    content: "Iceland By: Brooke Holm";
  }
  30%, 40% {
    content: "Switzerland By: Jennifer Esseiva";
  }
  45%, 55% {
    content: "Scotland By: Daniel Casson";
  }
  60%, 70% {
    content: "Ireland By: Kai Hornung";
  }
  75%, 85% {
    content: "Germany By: Hannes Becker";
  }
  90%, 100% {
    content: "Snowfields - Dive into the serene whites";
  }
} */

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: bg-change 40s infinite;
  position: relative;
}

.container::after {
  content: "Iceland - Explore the beauty of glaciers"; /* Default text */
  animation: text-change 40s infinite;
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.booking{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 40%;
  margin-right: 30px;
  border-radius: 100px ;
  border: solid 2px white;
}

@media only screen and (max-width: 768px) {

    
    ul {
        flex-direction: column;
        width: auto;
        gap: 10px;
    }
    .navbar{
        font-size: large;
      align-items: baseline;
      gap: 100px
  }
  .content{
    width: auto;
    top: 40vh;
    padding-left: 10px;
  }
}








#placeDescription {
  font-size: 1.2em;
  margin-bottom: 50px; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#placeTitle {
  font-size: 2.5em;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: white;
  font-family: Georgia,serif;
  font-style: italic;
  background-color: rgb(9, 5, 9);
  padding: 15px;
  border-radius: 10px;
  border: solid 5px white;
}