{% extends "base.html" %}
{% block title %}Welcome back!{% endblock title %}
{% block content %}

<form action="/auth/login/" method="post">
    {% csrf_token %}
    <br>
    <div class="row justify-content-center">
    <div class="card col-md-4" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);">
    <h3 data-aos="fade-up" class="text-dark">Login Here</h3>
    {% for message in messages %} 
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"> <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <label for="email">Email</label>
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" required type="text" style="display: block; margin: 0 auto; width: 80%;">
    </div>
    <label for="pass1">Password</label>
    <div class="form-group">
        <input type="password" class="form-control" id="pass1" name="pass1" required type="text" style="display: block; margin: 0 auto; width: 80%;">
    </div>
    <br>
    <button type="submit" style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);" class="btn">Login</button>
    <br>
    Forgot password? <a style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);" href="/auth/request-reset-email/">Reset</a>
    <br>
    Don't have account? <a style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);" href="/auth/signup/">Signup</a>
    <br>
  </form>
  </div>
  </div>

{% endblock content %}
{% block body %}


{% endblock body %}