{% extends "base.html" %}
{% block title %}Set password{% endblock title %}
{% block content %}

<form action="{% url 'set-new-password' uidb64 token %}" method="post">
    {% csrf_token %}
    <br>
    <div class="row justify-content-center">
    <div class="card col-md-4" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);">
    <h3 data-aos="fade-up" class="text-dark">Set New Password</h3>
    {% for message in messages %} 
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"> <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <label for="pass1">Password</label>
    <div class="form-group">
        <input type="password" class="form-control" id="pass1" name="pass1" required style="display: block; margin: 0 auto; width: 80%;">
    </div>
    <label for="pass2">Confirm Password</label>
    <div class="form-group">
        <input type="password" class="form-control" id="pass2" name="pass2" required style="display: block; margin: 0 auto; width: 80%;">
    </div>
    <br>
    <button type="submit" style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);" class="btn">Submit</button>
    <br>
    <a style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(10px);" href="/auth/login/">Go back?</a>
    <br>
  </form>
  </div>
  </div>

{% endblock content %}
{% block body %}


{% endblock body %}
