*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body{
    background-color: darkgrey;
   }
   
   .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.1em;
    margin-top: 0.1em;
    background-color: green;
   }
   
   .header img {
    width: 60px;
   }
   
   .buttons button {
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: green;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   
   .buttons button:hover {
    text-decoration: underline;
    font-size: 1.05em;
   }
   
   .pong-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
   }
   
   #ping-pong {
    width: 80%;
    max-width: 680px;
    border: 12px solid white;
   }
   
   @media screen and (max-width: 480px) {
    .header img {
     width: 40px;
    }
    .buttons button {
     letter-spacing: 1px;
     padding: 5px;
     letter-spacing: 1px;
     font-size: 0.7em;
    }
   
    .buttons button:hover {
     text-decoration: underline;
     font-size: 1.05em;
    }
   }