*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: grey;
    
}
a{
    color: white;
}
.text{
    font-size: xx-large;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: lightseagreen;
    background-image: linear-gradient(299deg, #3048bc, #467c32);
    background-clip: text;
    color: transparent;
}
.text1{
    font-size: 30px;
    text-align: center;
    padding: 30px;

}
.links{
    display: grid;
    font-size: larger;
    justify-content: center;
    padding: 50px;
    gap: 10px;
    width: auto;
    height: fit-content;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  background: url(./images/imageloader.gif);
  z-index: 100000;
  background-repeat: no-repeat;
  background-position: center;
  
}
body::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px 3px #2356c3;
    border-radius: 30px;
  }
   
  body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgb(2,0,36);
background: linear-gradient(188deg, rgba(2,0,36,1) 0%, rgba(51,51,131,1) 18%, rgba(9,9,121,1) 55%, rgba(0,212,255,1) 100%);
   
  }


  @media screen and (max-width: 600px){
    ::-webkit-scrollbar {
        width: 1em;
        height: 1em;
      }
       
      ::-webkit-scrollbar-track {
        box-shadow: inset 0px 0px 5px 3px #2356c3;
        border-radius: 30px;
      }
       
      ::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: rgb(2,0,36);
    background: linear-gradient(188deg, rgba(2,0,36,1) 0%, rgba(51,51,131,1) 18%, rgba(9,9,121,1) 55%, rgba(0,212,255,1) 100%);
       
      }
  }
