.brands-section {
    padding: 70px 8%;
    text-align: center;
}

.brands-header h2 {
    font-size: 70px;
    font-weight: 800;
    color: #1c1c1c;
    margin-bottom: 8px;
}

.brands-header p {
    font-size: 18px;
    color: #6f6f6f;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
  

.brand-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.brand-card {
    width: 250px;
    padding: 35px 42px;
    border-radius: 22px;
    transition: 0.3s ease;
    min-height: 380px;
}

.brand-card:hover {
    transform: translateY(-8px);
}

.brand-card img {
    width: 140px;
    border-radius: 24px;
}

.brand-card h3 {
    margin-top: 18px;
    font-size: 28px;
    color: #1c1c1c;
}

.brand-card p {
    font-size: 14px;
    color: #696969;
    line-height: 1.5;
    margin: 14px 0;
}

.brand-card a {
    text-decoration: none;
    color: #ef4f5f;
    font-weight: 600;
}

.zomato-card {
    background: #fff1f2;
    border:2px solid rgb(239, 79, 95,0.2);
}

.blinkit-card {
    background: #fff9db;
    border:2px solid rgba(236, 239, 79, 0.2);
}

.district-card {
    background: #f2ecff;
    border:2px solid rgba(106, 13, 132, 0.2);
}

.hyperpure-card {
    background: #fff1f3;
    border:2px solid rgb(239, 79, 95,0.2);
}