<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>World Capital Quiz</title>
  </head>
  <body id="quiz">
    <form class="container" action="/submit" method="post">
      <div class="score">
        <h3>
          Total Score:
          <span id="score"><%= locals.totalScore ? totalScore:"0" %></span>
        </h3>
      </div>
      <h1 id="country"><%= question.country %></h1>
      <div class="answer">
        <input
          type="text"
          name="answer"
          id="userInput"
          placeholder="Enter Capital"
          autofocus
          autocomplete="off"
        />
      </div>
      <button type="submit">
        Submit <% if (locals.wasCorrect) { %>
        <span class="checkmark">✔</span>
        <% } else if (locals.wasCorrect===false) { %>
        <span class="cross" id="error">✖</span>
        <% } %>
      </button>
    </form>
    <script>
      var wasCorrect = "<%=locals.wasCorrect%>";
      console.log(wasCorrect);
      if (wasCorrect === "false") {
        alert("Game over! Final best score: <%= locals.totalScore %>");
        document.getElementById("app").innerHTML =
          '<a href="/" class="restart-button">Restart</a>';
      }
    </script>
  </body>
</html>
