* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("media/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 300px 15px;
  overflow: hidden;
}

#car {
  position: absolute;
  bottom: 0px;
  left: 520px;
}

#obs1 {
  position: absolute;
  top: -200px;
  left: 315px;
  overflow: hidden;
}

.animateobs1 {
  animation: updown 2s linear;
}

@keyframes updown {
  from {
    position: absolute;
    top: -200px;
    left: 315px;
  }

  to {
    position: absolute;
    top: 550px;
    left: 315px;
  }
}

#obs2 {
  transform: rotateX(20deg);
  position: absolute;
  top: -200px;
  right: 390px;
  overflow: hidden;
}

.animateobs2 {
  animation: updown2 2s linear;
}

@keyframes updown2 {
  from {
    position: absolute;
    top: -200px;
    right: 390px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 390px;
  }
}

#obs3 {
  position: absolute;
  top: -200px;
  right: 550px;
  overflow: hidden;
}

.animateobs3 {
  animation: updown3 2s linear;
}

@keyframes updown3 {
  from {
    position: absolute;
    top: -200px;
    right: 550px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 550px;
  }
}

#obs4 {
  position: absolute;
  top: -200px;
  right: 520px;
  overflow: hidden;
}

.animateobs4 {
  animation: updown4 2s linear;
}

@keyframes updown4 {
  from {
    position: absolute;
    top: -200px;
    right: 520px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 520px;
  }
}

#obs5 {
  position: absolute;
  top: -200px;
  left: 400px;
  overflow: hidden;
}

.animateobs5 {
  animation: updown4 2s linear;
}

@keyframes updown5 {
  from {
    position: absolute;
    top: -200px;
    left: 400px;
  }

  to {
    position: absolute;
    top: 550px;
    left: 400px;
  }
}

#obs7 {
  position: absolute;
  top: -200px;
  right: 700px;
  overflow: hidden;
}

.animateobs7 {
  animation: updown4 2s linear;
}

@keyframes updown7 {
  from {
    position: absolute;
    top: -200px;
    right: 700px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 700px;
  }
}

#obs6 {
  position: absolute;
  top: -200px;
  right: 901px;
  transition: all 2 ease;
  overflow: hidden;
}

.animateobs6 {
  animation: updown6 2s linear;
}

@keyframes updown6 {
  from {
    position: absolute;
    top: -200px;
    right: 901px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 901px;
  }
}

#obs8 {
  position: absolute;
  top: -200px;
  right: 290px;
  transition: all 2s ease;
  overflow: hidden;
}

.animateobs8 {
  animation: updown8 2s linear;
}

@keyframes updown8 {
  from {
    position: absolute;
    top: -200px;
    right: 290px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 290px;
  }
}

#obs9 {
  position: absolute;
  top: -200px;
  right: 630px;
  overflow: hidden;
}

.animateobs9 {
  animation: updown9 2s linear;
}

@keyframes updown9 {
  from {
    position: absolute;
    top: -200px;
    right: 630px;
  }

  to {
    position: absolute;
    top: 550px;
    right: 630px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  position: relative;
  bottom: 40px;
  height: 200px;
  width: 300px;
  font-size: 54px;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #081c24;
}

#maintitle1 {
  color: #ff7a00;
}

#maintitle2 {
  color: #00f6ff;
}

#maintitle3 {
  color: #c6ff00;
}

#credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  height: 150px;
  width: 300px;
  font-size: 54px;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#name1 {
  color: #a4b5c6;
}

#name2 {
  color: #ff7a00;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  height: 100px;
  width: 200px;
  gap: 20px;
  background-color: #111827;
  border-radius: 8px;
  border: 2px solid #00ffff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
  font-weight: 600;
}

#scorepara1 {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 20px;
}

#scorepara2 {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 20px;
}

#gameover {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 35px;
  left: 420px;
  background-image: url("../media/gameover.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 55%;
  background-color: #203a43;
  z-index: 10;
  border: 3px solid #00ffff;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
  /* gap: 0px; */
}

#scorepara {
  position: relative;
  top: 20px;
  right: 0px;
  color: #ff7a00;
  font-size: 28px;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mainMenu {
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 35px;
  left: 420px;
  background-color: #203a43;
  border: 3px solid #00ffff;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
  z-index: 11;
}
#playbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

#mainMenubtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  position: relative;
  top: 75px;
}

#playagain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  position: relative;
  top: 50px;
}

#gametimer {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

#gametimercont {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 1000px;
  position: absolute;
  top: 120px;
  left: 570px;
  z-index: 20;
  background-color: red;
}

