# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
pip-wheel-metadata/
build/
develop-eggs/
env/
venv/
.venv/
.Python
pyvenv.cfg
__pypackages__/
*.sqlite3
*.db
*.log
*.pot
*.po
*.mo
*.coverage
coverage.xml
htmlcov/
.cache
.pytest_cache/
.mypy_cache/
profile_default/
ipython_config.py
__pypackages__/

# Environment files
.env
.env.*
!.env.example


# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
