
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
    padding: 0; 
    

}
.video :before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    z-index: 111;
    background-color: rgb(3 5 7 / 52%);
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background: #004d7d;
    color: white;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    padding-top: 0;
}
.logo{
  font: bolder;
  font-size: x-large;
  color: white;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: large;
    font : bolder;
}
a{
    color: white;
    text-decoration: none;
}
.head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 768px){
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
      padding: 0; 
      
  
  }
  ul {
    display: none;
  }
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:100;
    box-sizing:border-box;
}
content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0;
  padding: 0;
  font-size: 32px;
  text-align: center;
  color: white;
}
}