@import 'bootstrap-icons/font/bootstrap-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'font-exo2';
	src: url('/Exo2-Medium.ttf') format('truetype');
}

.font-exo2 {
	font-family: 'font-exo2', sans-serif;
}

@font-face {
	font-family: 'font-kode';
	src: url('/KodeMono-Regular.ttf') format('truetype');
}

.font-kode {
	font-family: 'font-kode', monospace;
}

@font-face {
	font-family: 'font-segoe';
	src: url('/SegoeUI.ttf') format('truetype');
}

.font-segoe {
	font-family: 'font-segoe', monospace;
}
