
body{
background:#0f172a;
color:white;
font-family:Arial;
width:380px;
padding:20px;
}

.container{
display:flex;
flex-direction:column;
gap:15px;
}

img{
width:100%;
border-radius:10px;
}

button{
padding:10px;
background:#2563eb;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

input{
padding:10px;
border-radius:8px;
border:none;
}
