* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: linear-gradient(
    135deg,
    #1e3c72,
    #2a5298,
    #6a11cb,
    #2575fc
  );

  font-family: Arial, sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
   box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
    color: white;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
form button,
form input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  background: rgba(255, 255, 255, 0.2);
  color: white;;

  border: 1px solid rgba(255, 255, 255, 0.3);

  font-size: 1rem;
  height: 3rem;
  padding-left: 0.8rem;

  transition: 0.3s;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

form input:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

}

.dropdown i {
  font-size: 1.8rem;
  margin-top: 1rem;
  color: #fff;
  transition: 0.3s;

}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  padding: 0.3rem;

  background: rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
}

.select-container select {
   font-size: 1rem;
   width: auto;
   cursor: pointer;
   color:white;
   background: transparent;
}
.select-container select option {
  color: black;
  background: white;
}
.msg {
  margin: 2rem 0 2rem 0;
   text-align: center;
   font-size: 1.1rem;
   font-weight: bold;
}

form button {
  height: 3rem;

  background: linear-gradient(
    135deg,
    #ff6a00,
    #ee0979
  );

  color: #fff;
  font-size: 1.15rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.3s ease;

}