* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f2f3f8;
}

/* MAIN */
.container {
  text-align: center;
  margin-top: 40px;
}

/* HEADER */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* SEARCH */
.search-bar {
  position: relative;
  width: 300px;
  margin: 0 auto 30px;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-bar i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* ADD BOX */
.add-box {
  width: 180px;
  height: 100px;
  margin-left: 50px;
  border-radius: 10px;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-box i {
  font-size: 25px;
  color: #6c5ce7;
}

.add-box p {
  margin-top: 8px;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  display: none;
  justify-content: center;
  align-items: center;
}

/* POPUP */
.popup {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 12px;
}

/* POPUP HEADER */
.popup-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.popup-header span {
  cursor: pointer;
  font-size: 20px;
}

/* INPUTS */
.popup input,
.popup textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 80px;
}

/* PASSWORD */
.password-box {
  position: relative;
}

.password-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* BUTTON */
.popup button {
  width: 100%;
  padding: 10px;
  background: #6c5ce7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}